@import url('https://fonts.googleapis.com/css?family=Amatic+SC|Fredericka+the+Great|Montserrat|Montserrat+Subrayada|Open+Sans+Condensed:300|Raleway');
/*reset styling*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*My Styles */

nav {
  position: fixed;
  width: 100%;
  top: 0px;
}

ul {
  display: flex;
  justify-content: flex-end;
  list-style: none;
}

li:first-child {
  margin-right: auto;
}

li {
  display: inline-block;
  padding: 20px;
  font-family: 'Fredericka the Great'; 
  font-size: 200%;
}

li a {
  text-decoration: none;
}

nav {
  background-color: silver;
}
.main-pic img {
  width: 100%;
}
.section {
  margin: 80px auto;
  padding-top: 80px;
  width:70%;
  max-width: 960px;
}
.about h1 {
  font-size:2em;
  margin-bottom:20px;
}
body{
  font-family: 'David Libre', serif;
}

/*PORTFOLIO*/
.wrapper{font-size:0;}/*for inline block spacing*/

.wrapper a{
  display:inline-block;
  width:25%;
  height:50vh;
  position:relative;
}
.wrapper a img {
  height:100%; 
  width:100%;
  object-fit:cover;}
.wrapper a:before, a:after{
  width:100%;
  position:absolute;
  opacity:0;
  transition:opacity 0.3s ease;
}
.wrapper a:before{
  content:'';
  height:100%;
  background:rgba(122,157,83,0.8);
}
.wrapper a:after{
  content:attr(data-title);
  font-size:24px;
  top:calc(50% - 0.5em);
  left:0;
  text-align:center;
  color:#fff;
  text-transform:uppercase;
}
.wrapper a:hover:before, a:hover:after{
  opacity:1;
}

@media (max-width:650px){
a{
  width:50%;
  height:100vh;
}
}
@media (max-width:480px){
a{
  width:100%;
}
}

.film p {
  margin-bottom: 30px;
}
.film h2{
  font-size: 1.5em;
  margin-bottom: 15px;
}

.contact h1{
  font-size:2em;
  margin-bottom:20px;
}
.contact p {
  padding-bottom: 20px;
}
form {
  line-height: 2em;
}
footer {
  background-color: silver;
  padding: 30px;
}

