@import url('https://fonts.googleapis.com/css?family=Fredericka+the+Great|Josefin+Slab');


/*reset styling*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, nav, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1.5;
  color: white;
  background-color: black;
  background-image: url("background.jpg");
  text-align: left;
} 


ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

ul.topnav {
  position: fixed;
  z-index: 1;
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
}


ul.topnav li {float: left;
margin-left: 3px;}

ul.topnav li a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: 0.3s;
  font-size: 2em;
  font-family: 'Fredericka the Great';
  text-shadow: 0 0 3px white; 
}

ul.topnav li a:hover {color: #6C4130;}

ul.topnav li.icon {display: none;}

@media screen and (max-width:680px) {
  ul.topnav li:not(:first-child) {display: none;}
  ul.topnav li.icon {
    float: right;
    display: inline-block;
  }
}

@media screen and (max-width:680px) {
  ul.topnav.responsive {position: relative;}
  ul.topnav.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  ul.topnav.responsive li {
    float: none;
    display: inline;
  }
  ul.topnav.responsive li a {
    display: block;
    text-align: left;
  }
}

.main-pic{
    background-color: black;
    background-size: cover;
    margin-bottom: -80px;
    z-index: -1; 
}

.main-pic img {
  width: 100%;
}

.section {
  margin: 80px auto;
  padding: 20px;
  width:70%;
  max-width: 960px;
  font-family: 'Josefin Slab';
  font-size: 1.5em;
}
.about {
  margin-top: 80px;
}
.about h1 {
  font-family: 'Fredericka the Great';
  font-size: 2.5em;
  padding-top: 70px;
}
/*.about p:first-letter {
  font-size: 3em;
  font-family: 'Fredericka the Great';
  line-height: 1em;
}*/
.about p{
  background-color: black;
}

div.img:hover {
    border: 2px solid #3F6498;
}

div.img img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}

* {
    box-sizing: border-box;
}

.responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
}

@media only screen and (max-width: 700px){
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px){
    .responsive {
        width: 100%;
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
.desc{
  font-family: 'Fredericka the Great';
  font-size: 1.5em;
}

#films {
  margin-bottom: -130px;
}

.film p {
  margin-bottom: -60px;
  background: black;
}

.film h2{
  font-size: 2em;
  margin-bottom: 7px;
  padding-top: 100px;
  font-family: 'Fredericka the Great';
}

span {
  font-style: italic;
}


.contact h1{
  font-size:3em;
  margin-bottom: 10px;
  margin-top: 50px;
  font-family: 'Fredericka the Great';
}
.contact p {
  padding-bottom: 20px;
  background-color: black;
}
.email-me {
  text-decoration: none;
  color: #3F6498;
}
.email-me:hover{
  color: white;
}
form {
  line-height:1.5em;
  font-family: 'Frecericka the Great';
  background-color: black;
  padding: 20px;
}
input {
  background-color: #FFFFFF;
  border: none;
  font-family: 'Fredericka the Great', sans-serif;
}

.buttons {
  color: #0B0F0E;
  font-family: 'Fredericka the Great', sans-serif;
}
.buttons:hover {
  color: white;
}

input:hover {
  background-color: #6C4130;
}
footer {
  padding: 30px;
  font-size:3em;
  font-weight: bold;
  color: #6C4130;
  font-family: 'Fredericka the Great';
  text-align: center; 
  background-color: black;
  width: 100%;
}
footer a {
    color: #3F6498;
    text-decoration: none;
}
footer a:hover{
  color: white;
}
