@import url('https://fonts.googleapis.com/css?family=Fredericka+the+Great|Josefin+Slab');


/*reset styling*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, nav, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1.5;
  color: #ffffcc;
  background-color: #0B0F0E;
  text-align: left;
} 

/*BACKGROUND COLOUR */
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*My Styles */

nav {
  position: fixed;
  width: 100%;
  top: 0px;
  z-index: 1;
  background-color: #261013;
  
}

ul {
  display: flex;
  justify-content: flex-end;
  list-style: none;
}

li:first-child {
  margin-right: auto;
}

li {
  display: inline-block;
  padding: 20px;
  font-family: 'Fredericka the Great'; 
  font-size: 200%;
}

li a {
  text-decoration: none;
  color: white;  
  text-shadow: 0 0 3px white;
 
}

li a:hover {
  color: #6C4130; 
}

.main-pic img {
  width: 100%;
}
.section {
  margin: 80px auto;
  padding-top: 100px;
  width:70%;
  max-width: 960px;
  font-family: 'Josefin Slab';
  font-size: 1.5em;
}
.about p {
  margin-bottom: 100px;
}
.about p:first-letter {
  font-size: 3em;
  font-family: 'Fredericka the Great';
  line-height: 1em;
}
/*PORTFOLIO*/
.wrapper{
  font-size:0;
  z-index: -1;
  }/*for inline block spacing*/

.wrapper a{
  display: inline-block;
  width:25%;
  height:50vh;
  position: relative;
  font-family: 'Fredericka the Great';

}
.wrapper a img {
  height:100%; 
  width:100%;
  object-fit:cover;}
.wrapper a:before, a:after{
  width:100%;
  position:absolute;
  opacity:0;
  transition:opacity 0.3s ease;
}
.wrapper a:before{
  content:'';
  height:100%;
  background:rgba(108, 65, 48, 0.8);
}
.wrapper a:after{
  content:attr(data-title);
  font-size:24px;
  top:calc(50% - 0.5em);
  left:0;
  text-align:center;
  color:#fff;
}
.wrapper a:hover:before, a:hover:after{
  opacity:1;
}

@media (max-width:650px){
a{
  width:50%;
  max.height:70vh; /*CHECK ON MOBILE DEVICES -- WAS SET TO 100 */
}
}
@media (max-width:480px){
a{
  width:100%;
}
}

.film p {
  margin-bottom: 30px;
}

.film h2{
  font-size: 2em;
  margin-bottom: 15px;
  padding-top: 100px;
  font-family: 'Fredericka the Great';
}
span {
  font-style: italic;
}

.contact h1{
  font-size:3em;
  margin-bottom:20px;
  font-family: 'Fredericka the Great';
}
.contact p {
  padding-bottom: 20px;
}
.email-me {
  text-decoration: none;
  color: #6C4130;
}
form {
  line-height:1.5em;
  font-family: 'Frecericka the Great';
}
input {
  background-color: #FFFFFF;
  border: none;
  font-family: 'Fredericka the Great', sans-serif;
}

.buttons {
  color: #0B0F0E;
  font-family: 'Fredericka the Great', sans-serif;
}
.buttons:hover {
  color: white;
}

input:hover {
  background-color: #6C4130;

}
footer {
  padding: 30px;
  font-size:3em;
  font-weight: bold;
  color: #6C4130;
  font-family: 'Fredericka the Great';
  text-align: center; 
}
footer a {
    text-decoration: none;
    color: #6C4130
}
footer a:hover{
  color: white;
}
